body{
  text-align: center;
  background-color: lightgrey;
}
#box-icon {
  font-size: 72px;
}
.header h2 {
  display: inline-block;
  color: #228B22;
font-size: 44px;
}
h1{
  color: #228B22;
  text-align: center;
 
}

.input-class{

  background-color: #70e000;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
height: 30px;
border: none;
}
.small-buttons{
  padding: 6px 3px;
  border-radius: 3px;
  background-color: lightgrey;
 color: #004b23;
  border: 2px;
  cursor: pointer;
}


.login-button{
  margin: 10px;
  background-color: #228B22;
  width: 300px;
height: 30px;
border-radius: 10px; }